{% extends 'panel.html.twig' %}

{% block tab %}USER{% endblock %}

{% block content %}
    <!-- Begin toolbar -->
    <div class="toolbar">
        <div class="toolbar-inner">
            <div class="toolbar-buttons">
                <a href="/add/user/" class="button button-secondary js-button-create">
                    <i class="fas fa-circle-plus icon-green"></i>{{ 'Add User' | trans }}
                </a>
                <a href="/list/package/" class="button button-secondary">
                    <i class="fas fa-box-open icon-orange"></i>{{ 'Packages' | trans }}
                </a>
            </div>
            <div class="toolbar-right">
                <div class="toolbar-sorting">
                    <button class="toolbar-sorting-toggle js-toggle-sorting-menu" type="button" title="{{ 'Sort items' | trans }}">
                    {{ 'Sort by' | trans }}:
                    <span class="u-text-bold">
                        <?php if ($_SESSION['userSortOrder'] === 'name') { $label = _('Name'); } else { $label = _('Date'); } ?>
                        <?= $label ?> <i class="fas fa-arrow-down-a-z"></i>
                    </span>
                    </button>
                    <ul class="toolbar-sorting-menu js-sorting-menu u-hidden">
                        <li data-entity="sort-bandwidth" data-sort-as-int="1">
                            <span class="name">
                                {{ 'Bandwidth' | trans }}
                                <i class="fas fa-arrow-down-a-z"></i>
                            </span>
                            <span class="up"><i class="fas fa-arrow-up-a-z"></i></span>
                        </li>
                        <li data-entity="sort-date" data-sort-as-int="1">
                            <span class="name <?php if ($_SESSION['userSortOrder'] === 'date') { echo 'active'; } ?>">{{ 'Date' | trans }} <i class="fas fa-arrow-down-a-z"></i></span><span class="up"><i class="fas fa-arrow-up-a-z"></i></span>
                        </li>
                        <li data-entity="sort-disk" data-sort-as-int="1">
                            <span class="name">{{ 'Disk' | trans }} <i class="fas fa-arrow-down-a-z"></i></span><span class="up"><i class="fas fa-arrow-up-a-z"></i></span>
                        </li>
                        <li data-entity="sort-package">
                            <span class="name">{{ 'Package' | trans }} <i class="fas fa-arrow-down-a-z"></i></span><span class="up"><i class="fas fa-arrow-up-a-z"></i></span>
                        </li>
                        <li data-entity="sort-name">
                            <span class="name <?php if ($_SESSION['userSortOrder'] === 'name') { echo 'active'; } ?>">{{ 'Name' | trans }} <i class="fas fa-arrow-down-a-z"></i></span><span class="up"><i class="fas fa-arrow-up-a-z"></i></span>
                        </li>
                    </ul>
                    <form x-data x-bind="BulkEdit" action="/bulk/user/" method="post">
                        <input type="hidden" name="token" value="<?= $_SESSION["token"] ?>">
                        <select class="form-select" name="action">
                            <option value="">{{ 'Apply to selected' | trans }}</option>
                            <option value="rebuild">{{ 'Rebuild All' | trans }}</option>
                            <option value="rebuild user">{{ 'Rebuild User Profile' | trans }}</option>
                            <option value="rebuild web">{{ 'Rebuild Web Domains' | trans }}</option>
                            <option value="rebuild dns">{{ 'Rebuild DNS Zones' | trans }}</option>
                            <option value="rebuild mail">{{ 'Rebuild Mail Domains' | trans }}</option>
                            <option value="rebuild db">{{ 'Rebuild Databases' | trans }}</option>
                            <option value="rebuild cron">{{ 'Rebuild Cron Jobs' | trans }}</option>
                            <option value="update counters">{{ 'Update Usage Counters' | trans }}</option>
                            <option value="suspend">{{ 'Suspend' | trans }}</option>
                            <option value="unsuspend">{{ 'Unsuspend' | trans }}</option>
                            <option value="delete">{{ 'Delete' | trans }}</option>
                        </select>
                        <button type="submit" class="toolbar-input-submit" title="{{ 'Apply to selected' | trans }}">
                        <i class="fas fa-arrow-right"></i>
                        </button>
                    </form>
                </div>
                <div class="toolbar-search">
                    <form action="/search/" method="get">
                        <input type="hidden" name="token" value="<?= $_SESSION["token"] ?>">
                        <input type="search" class="form-control js-search-input" name="q" value="<? echo isset($_POST['q']) ? htmlspecialchars($_POST['q']) : '' ?>" title="{{ 'Search' | trans }}">
                        <button type="submit" class="toolbar-input-submit" title="{{ 'Search' | trans }}">
                        <i class="fas fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End toolbar -->

    <div class="container">

        <h1 class="u-text-center u-hide-desktop u-mt20 u-pr30 u-mb20 u-pl30">{{ 'Users' | trans }}</h1>

        <div class="units-table js-units-container">
            <div class="units-table-header">
                <div class="units-table-cell">
                    <input type="checkbox" class="js-toggle-all-checkbox" title="{{ 'Select all' | trans }}">
                </div>
                <div class="units-table-cell">{{ 'Name' | trans }}</div>
                <div class="units-table-cell"></div>
                <div class="units-table-cell u-text-center">{{ 'Package' | trans }}</div>
                <div class="units-table-cell u-text-center">{{ 'IPs' | trans }}</div>
                <div class="units-table-cell u-text-center">
                    <i class="fas fa-hard-drive" title="{{ 'Disk' | trans }}"></i>
                    <span class="u-hidden-visually">{{ 'Disk' | trans }}</span>
                </div>
                <div class="units-table-cell u-text-center">
                    <i class="fas fa-right-left" title="{{ 'Bandwidth' | trans }}"></i>
                    <span class="u-hidden-visually">{{ 'Bandwidth' | trans }}</span>
                </div>
                <div class="units-table-cell compact u-text-center">
                    <i class="fas fa-earth-americas" title="{{ 'Web Domains' | trans }}"></i>
                    <span class="u-hidden-visually">{{ 'Web Domains' | trans }}</span>
                </div>
                <div class="units-table-cell compact u-text-center">
                    <i class="fas fa-book-atlas" title="{{ 'DNS Zones' | trans }}"></i>
                    <span class="u-hidden-visually">{{ 'DNS Zones' | trans }}</span>
                </div>
                <div class="units-table-cell compact u-text-center">
                    <i class="fas fa-envelopes-bulk" title="{{ 'Mail Domains' | trans }}"></i>
                    <span class="u-hidden-visually">{{ 'Mail Domains' | trans }}</span>
                </div>
                <div class="units-table-cell compact u-text-center">
                    <i class="fas fa-database" title="{{ 'Databases' | trans }}"></i>
                    <span class="u-hidden-visually">{{ 'Databases' | trans }}</span>
                </div>
                <div class="units-table-cell compact u-text-center">
                    <i class="fas fa-file-zipper" title="{{ 'Backups' | trans }}"></i>
                    <span class="u-hidden-visually">{{ 'Backups' | trans }}</span>
                </div>
            </div>

            <!-- Begin user list item loop -->
            {% for user in users %}
            <div class="units-table-row {% if user.isSuspended %}disabled{% endif%} js-unit <?php if (($_SESSION['POLICY_SYSTEM_HIDE_ADMIN'] === 'yes') && ($_SESSION['user'] !== $_SESSION['ROOT_USER']) && ($key === 'admin')) { echo 'u-hidden'; } ?>"
                 data-sort-date="{{ user.createdOn }}"
                 data-sort-name="{{ user.username }}"
                 data-sort-package="{{ user.package.name }}"
                 data-sort-bandwidth="{{ user.usage.bandwidth }}"
                 data-sort-disk="{{ user.usage.disk }}"
            >
                <div class="units-table-cell">
                    <div>
                        <input id="check<?= $i ?>" class="js-unit-checkbox" type="checkbox" title="{{ 'Select' | trans }}" name="user[]" value="{{ user.username }}">
                        <label for="check<?= $i ?>" class="u-hide-desktop">{{ 'Select' | trans }}</label>
                    </div>
                </div>
                <div class="units-table-cell units-table-heading-cell">
                    <span class="u-hide-desktop u-text-bold">{{ 'Name' | trans }}:</span>
                    <a href="/edit/user" title="{{ 'Edit User' | trans }}">
                        <span class="u-text-bold">{{ user.username }}</span>
                        ({{ user.name }})
                    </a>
                    <p class="u-max-width200 u-text-truncate">
                        <span class="u-hide-desktop u-text-bold">{{ 'Email' | trans }}:</span>
                        <span>{{ user.email }}</span>
                    </p>
                </div>
                <div class="units-table-cell">
                    <ul class="units-table-row-actions">
                        {% if user.username != app.user.username %}
                        <li class="units-table-row-action">
                            <a
                                class="units-table-row-action-link"
                                href="/login/?loginas={{ user.username }}"
                                title="{{ 'Log in as' | trans }} {{ user.username }}"
                            >
                            <i class="fas fa-right-to-bracket icon-green"></i>
                            <span class="u-hide-desktop">{{ 'Log in as' | trans }} <?= $key ?></span>
                            </a>
                        </li>
                        {% endif %}
                        <?php if (!($_SESSION["userContext"] === "admin" && $key == $_SESSION['ROOT_USER'] && $_SESSION["user"] != $_SESSION['ROOT_USER'])) { ?>
                        {% if is_granted("ROLE_ADMIN") %}
                        <li class="units-table-row-action shortcut-enter" data-key-action="href">
                            <a
                                class="units-table-row-action-link"
                                href="/edit/user/"
                                title="{{ 'Edit User' | trans }}"
                            >
                                <i class="fas fa-pencil icon-orange"></i>
                                <span class="u-hide-desktop">{{ 'Edit User' | trans }}</span>
                            </a>
                        </li>
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") and user.username != app.user.username %}
                            {% if user.isSuspended %}
                            <li class="units-table-row-action shortcut-s" data-key-action="js">
                                <a
                                    class="units-table-row-action-link data-controls js-confirm-action"
                                    href="/unsuspend/user/"
                                    title="{{ 'Unsuspend' | trans }}"
                                    data-confirm-title="{{ 'Unsuspend' | trans }}"
                                    data-confirm-message="{{ 'Are you sure you want to unsuspend user %s?' | trans(user.username) }}"
                                >
                                    <i class="fas fa-play icon-green"></i>
                                    <span class="u-hide-desktop">{{ 'Unsuspend' | trans }}</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="units-table-row-action shortcut-s" data-key-action="js">
                                <a
                                    class="units-table-row-action-link data-controls js-confirm-action"
                                    href="/suspend/user/"
                                    title="{{ 'Suspend' | trans }}"
                                    data-confirm-title="{{ 'Suspend' | trans }}"
                                    data-confirm-message="{{ 'Are you sure you want to suspend user %s?' | trans({username: user.username}) }}"
                                >
                                    <i class="fas fa-pauze icon-highlight"></i>
                                    <span class="u-hide-desktop">{{ 'Suspend' | trans }}</span>
                                </a>
                            </li>
                            {% endif %}
                            <li class="units-table-row-action shortcut-delete" data-key-action="js">
                                <a
                                    class="units-table-row-action-link data-controls js-confirm-action"
                                    href="/delete/user"
                                    title="{{ 'Delete' | trans }}"
                                    data-confirm-title="{{ 'Delete' | trans }}"
                                    data-confirm-message="{{ 'Are you sure you want to delete user %s?' | trans({username: user.username}) }}"
                                >
                                <i class="fas fa-trash icon-red"></i>
                                <span class="u-hide-desktop">{{ 'Delete' | trans }}</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="units-table-cell u-text-bold u-text-center-desktop">
                    <span class="u-hide-desktop">{{ 'Package' | trans }}:</span>
                    {%  if user.package.name == 'system' %}
                        {{ user.package.name }}
                    {% else %}
                        <a href="/edit/package/" title="{{ 'Edit Package' | trans }}">
                            {{ user.package.name }}
                        </a>
                    {% endif %}
                </div>
                <div class="units-table-cell u-text-center-desktop">
                    <span class="u-hide-desktop u-text-bold">{{ 'IPs' | trans }}:</span>
                    {{ user.usage.ips }}
                </div>
                <div class="units-table-cell u-text-center-desktop u-text-no-wrap">
                    <span class="u-hide-desktop u-text-bold">{{ 'Disk' | trans }}:</span>
                    <span class="u-text-bold">{{ humanize_usage_size(user.usage.disk, 1) }}</span>
                    <span class="u-text-small">{{ humanize_usage_measure(user.usage.disk) }}</span> /
                    <span class="u-text-bold">{{ humanize_usage_size(user.package.disk, 1) }}</span>
                    <span class="u-text-small">{{ humanize_usage_measure(user.package.disk) }}</span>
                </div>
                <div class="units-table-cell u-text-center-desktop u-text-no-wrap">
                    <span class="u-hide-desktop u-text-bold">{{ 'Bandwidth' | trans }}:</span>
                    <span class="u-text-bold">{{ humanize_usage_size(user.usage.bandwidth, 1) }}</span>
                    <span class="u-text-small">{{ humanize_usage_measure(user.usage.bandwidth) }}</span> /
                    <span class="u-text-bold">{{ humanize_usage_size(user.package.bandwidth, 1) }}</span>
                    <span class="u-text-small">{{ humanize_usage_measure(user.package.bandwidth) }}</span>
                </div>
                <div class="units-table-cell compact u-text-center-desktop">
                    <span class="u-hide-desktop u-text-bold">{{ 'Web Domains' | trans }}:</span>
                    <span class="units-table-badge">{{ user.usage.webDomains }}</span>
                </div>
                <div class="units-table-cell compact u-text-center-desktop">
                    <span class="u-hide-desktop u-text-bold">{{ 'DNS Zones' | trans }}:</span>
                    <span class="units-table-badge">{{ user.usage.dnsZones }}</span>
                </div>
                <div class="units-table-cell compact u-text-center-desktop">
                    <span class="u-hide-desktop u-text-bold">{{ 'Mail Domains' | trans }}:</span>
                    <span class="units-table-badge">{{ user.usage.mailDomains }}</span>
                </div>
                <div class="units-table-cell compact u-text-center-desktop">
                    <span class="u-hide-desktop u-text-bold">{{ 'Databases' | trans }}:</span>
                    <span class="units-table-badge">{{ user.usage.databases }}</span>
                </div>
                <div class="units-table-cell compact u-text-center-desktop">
                    <span class="u-hide-desktop u-text-bold">{{ 'Backups' | trans }}:</span>
                    <span class="units-table-badge">{{ user.usage.backups }}</span>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="units-table-footer">
            <p>
                <?php printf(ngettext("%d user account", "%d user accounts", $i), $i); ?>
            </p>
        </div>

    </div>
{% endblock %}
